.widget-group {
    padding: 20px;
    display: block;
}
widget-body {
    display: block;
}
/**
 * Flow Layout
 */

.widget-group-flow {
    display: flex;
    flex-wrap: wrap;
}
.widget-group-flow>.widget {
    margin-right: 20px;
}