.widget-group {
    padding: 20px;
    display: block;
}
widget-body {
    display: block;
    overflow: auto;
}
/**
 * Flow Layout
 */

.widget-group-flow {
    display: flex;
    flex-wrap: wrap;
}
.widget-group-flow>.widget {
    margin-right: 20px;
}
/**
 * Grid Layout
 */
@media (min-width: 768px) {
    .widget-group-grid {
        display: flex;
        flex-direction: column;
    }
    .widget-group-grid>.widget-group-row {
        display: flex;
        flex-wrap: nowrap;
    }
    .widget-group-grid>.widget-group-row>.widget-group-column {
        padding-right: 20px;
    }
    .widget-group-grid>.widget-group-row>.widget-group-column:last-child {
        padding-right: 0;
    }
}